/* Body colors */
$text: #0D1530;
$bg: #FEFEFE;

/* Text colors */
$blue-primary: #188ACE;
$blue-secondary: #111C3F;
$blue-tertiary: #7BCBF2;

/* Box shadow */
$shadow: 0 0 1.25rem rgba(155, 201, 225, 0.4);